<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.odong.*"/>

    <context:property-placeholder location="config.properties"/>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
    </bean>
    <bean id="stringHelper" init-method="init" class="com.odong.core.util.StringHelper"/>
    <bean id="jsonHelper" init-method="init" class="com.odong.core.util.impl.JsonHelperImpl"/>
    <bean id="encryptHelper" init-method="init" class="com.odong.core.util.EncryptHelper">
        <property name="appKey" value="${app.key}"/>
    </bean>

    <!--测试or发布-->
    <bean id="serialUtil" init-method="init" destroy-method="destroy"
          class="com.odong.fly.serial.impl.SerialUtilDemoImpl"/>
    <bean id="cameraUtil" init-method="init" destroy-method="destroy"
          class="com.odong.fly.camera.impl.CameraUtilDemoImpl"/>

    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="${db.driver}"/>
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <property name="maxConnectionsPerPartition" value="5"/>
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>